/**
 * Listr Main View
 */

.listr-create-form {
    @extend .listr-form-holder;
    position: relative;
    float: left;
    margin: 40px;
    .btn {
        position: absolute;
        bottom: 40px;
        left: 40px;
    }
}
.listr-main-new-form-fields-holder {
    background-color: $body-bg;
    border-radius: 10px;
    width: 50%;
    padding: 0 0 10px 0;
    float: right;
    font-size: 1.35em;
    ul {
        display: block;
        float: initial;
        margin: 20px 0 10px;
        padding: 0 20px 0 0;
        li {
            float: initial;
            margin: 5px 0 0;
            display: block;
            a {
                color: $brand-secondary;
                display: block;
                margin: 0 0 0 20px;
                text-decoration: none;
                span {
                    margin: 0 5px 0 0;
                }
            }
        }
    }
    .listr-new-form-fields-toggle {
        background-color: $body-bg;
        border: 0px solid;
        border-radius: 20px;
        float: right;
        height: 30px;
        margin: 0 10px;
        padding: 4px 5px;
        position: relative;
        transition: all 1s;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        width: 30px;
        &.toggled {
            top: 5px;
            transform: rotate(-675deg);
            -moz-transform: rotate(-675deg);
            -webkit-transform: rotate(-675deg);
        }
    }
}
.listr-main-lists-holder {
    margin: 40px 0;
    max-width: 800px;
    padding: 0;
    position: relative;
    width: calc(100% - 480px);
    float: right;
    .listr-main-list {
        background-color: #fff;
        border-left: 2px solid #00ccff;
        float: left;
        margin: 0 40px 40px 0;
        position: relative;
        padding: 10px 0 20px 40px;
        width: calc(50% - 40px);
        h2 {
            border-bottom: 2px solid $brand-primary;
            margin: 0;
            button {
                float: right;
                background-color: transparent;
                border: 0px solid;
                padding: 0 10px;
            }
        }
        ul {
            list-style-type: none;
            margin: 20px 0;
            padding: 0;
            li {
                span {
                    display: inline-block;
                    margin: 0 10px 0 0;
                }
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .listr-main-lists-holder {
        .listr-main-list {
            width: calc(100% - 20px);
        }
    }
}
@media screen and (max-width: 800px) {
    .listr-create-form {
        margin: 40px auto;
        float: initial;
        width: calc(100% - 40px);
    }
    .listr-main-lists-holder {
        float: initial;
        width: 100%;
        padding: 0;
        .listr-main-list {
            float: initial;
            max-width: 400px;
            margin: 0 auto 40px;
            padding: 40px;
            width: calc(100% - 40px);
            min-height: 400px;
        }
    }
}
@media screen and (max-width: 450px) {
    .listr-main-new-form-fields-holder {
        width: 100%;
    }
}


